assets/pattern-holas.svg
assets/men/cat1/model_original.obj
assets/men/cat1/model-expo-igna-2.obj
assets/men/cat1/model-expo-igna-3.obj
assets/men/cat1/model-expo-igna1.obj
assets/men/cat1/model-expo-igna4.obj
assets/men/cat1/model-export-igna5.obj
assets/men/cat1/model-export-igna6.obj
assets/men/cat1/model-test1.obj
assets/men/cat1/model-test2.obj
assets/men/cat1/model-test3.obj
assets/men/cat1/prod1/pattern_original.svg
assets/men/cat1/prod1/pattern-fede.svg
assets/men/cat1/prod1/pattern-test1.svg
assets/men/cat1/prod1/pattern-test2.svg
assets/men/cat1/prod1/pattern-test3.svg
assets/men/cat1/prod1/pattern-test-fede.svg
assets/men/cat1/model-fede-test.obj
3d-shirt.code-workspace
