h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: "Rubik", sans-serif !important;
  color: whitesmoke;
}

/* cyrillic-ext */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v20/iJWKBXyIfDnIV7nMrXyi0A.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v20/iJWKBXyIfDnIV7nFrXyi0A.woff2)
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* hebrew */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v20/iJWKBXyIfDnIV7nDrXyi0A.woff2)
    format("woff2");
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v20/iJWKBXyIfDnIV7nPrXyi0A.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v20/iJWKBXyIfDnIV7nBrXw.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v20/iJWKBXyIfDnIV7nMrXyi0A.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v20/iJWKBXyIfDnIV7nFrXyi0A.woff2)
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* hebrew */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v20/iJWKBXyIfDnIV7nDrXyi0A.woff2)
    format("woff2");
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v20/iJWKBXyIfDnIV7nPrXyi0A.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v20/iJWKBXyIfDnIV7nBrXw.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v20/iJWKBXyIfDnIV7nMrXyi0A.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v20/iJWKBXyIfDnIV7nFrXyi0A.woff2)
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* hebrew */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v20/iJWKBXyIfDnIV7nDrXyi0A.woff2)
    format("woff2");
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v20/iJWKBXyIfDnIV7nPrXyi0A.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v20/iJWKBXyIfDnIV7nBrXw.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
#model-container {
  border: 2px solid lime;
}
#svgPathContainer {
}

#colorAndMoveTextContainer {
  display: flex;
}
#colorPickContainer {
  margin-right: 40px;
}
#strokeColorPickContainer {
  margin-right: 40px;
}
.formTitles {
  font-weight: bold;
}
#moveTextContainer i {
  margin-right: 3px;
  cursor: pointer;
  font-size: 30px;
}
#colorPick {
  height: 35px;
  width: 35px;
  background-color: #000;
  margin-left: 2px;
}
#strokeColorPick {
  height: 35px;
  width: 35px;
  background-color: #000;
  margin-left: 2px;
}

.cursorPointer {
  cursor: pointer;
}

.color-palete {
  margin-top: -2px;
}

.hider {
  display: none;
}

#sectorRemera {
}
body {
}
.container {
  height: fit-content;
}
#sectorRemera div div {
  display: flex;
}

#sectorRemera div div canvas {
}

#sectorCustomizacion {
}

html,
body {
  margin: 0;
  padding: 0;
  background: #000;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.lab-panel_main {
  min-height: 100vh;
  padding: 8.5em 2.5em 8em;
  background: transparent;
}

.lab-panel_main {
  width: 100%;
  min-height: 100vh;
  padding: 6em 2.5em 8em 3em;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  z-index: 5;
}
@media only screen and (max-width: 991px) {
  #container canvas {
    margin-left: -40vw;
  }
}

.lab_ui-region {
  position: relative;
  z-index: 20;
  pointer-events: none;
}
.lab_ui-step {
  height: calc(100vh - 11.5em);
}
.lab_ui {
  width: 100%;
  height: 100%;
}
.lab_app {
  width: 100%;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  opacity: 1;
  transition: opacity 0.5s 0s;
  -ms-touch-action: none;
  touch-action: none;
}

#renderCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
  border-radius: 50%;
  outline: 0;
}
.molids {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 8px;
  border-radius: 50%;
  float: left;
}
.xixcust {
  clear: both;
  cursor: pointer;
}
span.egseas {
  display: inline-block;
  padding: 12px;
  font-size: 18px;
  float: left;
}

.xixcust:hover .molids,
.xixcust.active .molids {
  width: 40px;
  height: 40px;
  margin: 4px;
}
/*/.colaz {
                width: 30px;
                height: 30px;
                display: inline-block;
                margin: 6px;
                border-radius: 50%;
                cursor: pointer;
            }*/
.colaz {
  align-items: flex-start;
  text-align: center;
  width: 2em;
  height: 2em;
  margin: 0 0 0.5em 0.5em;
  padding: 0;
  box-sizing: border-box;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  box-shadow: 0 1px 2px 0 rgba(43, 45, 66, 0.2),
    0 4px 12px 0 rgba(43, 45, 66, 0.1);
  transition: transform 0.25s;
}

.colaz:hover {
  transform: scale(1.25);
}

.xixcust:hover .molids:after,
.xixcust.active .molids:after {
  /* TILDE DEL COLOR PICKER */
  /* content: "\2712";
  display: inline-block;
  color: white;
  width: 40px;
  height: 20px;
  margin-top: 9px;
  text-align: center; */
}

#mat0 .molids {
  background: #043360;
}
#mat1 .molids {
  background: #043360;
}
#mat2 .molids {
  background: #d30b37;
}
#ajong .molids {
  background: #043360;
}
#bjong .molids {
  background: #043360;
}
#cjong .molids {
  background: #d30b37;
}
#djong .molids {
  background: #043360;
}
#ejong .molids {
  background: #d30b37;
}
#fjong .molids {
  background: #d30b37;
}
#gjong .molids {
  background: #ffffff;
}
#svga {
  display: none;
}

/* Dropdown Button */
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

#tabs {
  border: none;
  background: transparent;
}

.ui-tabs-nav {
  background: transparent !important;
  border: none !important;
}
.text-editor-container {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 1px 2px 0 rgba(43, 45, 66, 0.2),
    0 4px 12px 0 rgba(43, 45, 66, 0.1);
}
.closeTextX {
  text-align: right;
  width: fit-content;
  align-self: end;
}
